.contextual-links-wrapper {
    display: none;
}

.view-content .views-view-grid tr {
    vertical-align: text-top !important;
}

.view-content .entity {
    border: 4px solid #FFF;
}

.view-content .selected-entity {
    border: 4px solid #B63300;
}

ul.pager {
    padding-left: 0;
}

ul.pager li {
    display: inline-block;
    list-style-type: none;
}
