.entity-results-list {
    float: left;
    height: 250px !important;
    overflow: auto;
    width: 300px !important;
}

.entity-results-list input[type="radio"], .entity-results-list label {
    margin-top: 8px;
}

.entity-results-list input[type="radio"] {
    clear: left;
    float: left;
    margin-left: 15px;
}

.entity-results-list label {
    float: left;
    margin-left: 10px;
}

.entity-preview {
    float: right !important;
    width: 500px !important;
}

.entity-preview label {
    clear: left;
    float: left;
}

.entity-preview input, .entity-preview select {
    float: left;
}

.entity-preview .preview-box {
    border: 1px solid #C0C0C0;
    clear: left;
    height: 400px;
    margin-top: 50px;
    overflow: auto;
    width: 460px;
}

.one-sidebar .fh-entity-embed-left,
.one-sidebar .fh-entity-embed-right,
.fh-entity-embed-right,
.fh-entity-embed-left {
  clear: both;
  float: none;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .fh-entity-embed-center {
    clear: both;
    float: none;
    max-width: 600px;
    margin: 0 auto;
  }

  .fh-entity-embed-left {
    clear: both;
    float: left;
    margin: 2em 2em 2em 0;
    max-width: 28%;
  }

  .fh-entity-embed-right {
    clear: both;
    float: right;
    margin: 2em 0 2em 2em;
    max-width: 28%;
  }
}

